body{
    height: 100vh;
    margin: 0;
}

#calendar{
    display: flex;
    flex-flow: column;
    font-size: 350%;
    height: 100%;
}

.calendar-header{
    order: 0;
}

.calendar-header_title{
    padding-top: .4em;
    margin-left: 1em;
}

#cMain {
    display: flex;
    order: 1;
    justify-content: space-between;
    margin-top: 7%;
    height: 73%;
}

.calendar-table{
    height: 50%;
    margin: 0;
    order: 1;
}

.calendar-header_prev{
    transform: scale(-1, 1);
    background-color: white;
    border: none;
    order: 0;
}

.calendar-header_next{
    background-color: white;
    border: none;
    order: 2;
}